<template>
  <v-form
    v-model="valid"
    :class="'contact-form'"
    @submit="submit"
    ref="form"
    :disabled="isSaving"
  >
    <v-card flat>
      <slot name="header"></slot>
      <v-card-text class="px-0">
        <slot name="formFieldsBefore"></slot>
        <div class="form-field mb-3">
          <v-text-field
            label="Name"
            required
            hint="Please provide your full name."
            persistent-hint
            v-model="formData.name"
            :rules=[validateString]
          />
        </div>
        <div class="form-field mb-3">
          <v-text-field
            label="Email"
            required
            hint="Please provide an email address that we can reach you at."
            type="email"
            persistent-hint
            v-model="formData.from"
            :rules=[validateEmail]
          />
        </div>
        <div class="form-field mb-3">
          <v-text-field
            label="Subject"
            required
            hint="What topic do you require support on?"
            counter="140"
            persistent-hint
            v-model="formData.subject"
            :rules=[validateSubject]
          />
        </div>
        <div class="form-field mb-3">
          <v-text-field
            label="Message"
            required
            textarea
            hint="Please describe the issue you have encountered or list any questions you may have."
            persistent-hint
            v-model="formData.body"
            :rules=[validateString]
          />
        </div>
        <slot name="formFieldsAfter"></slot>
        <div class="form-field mb-3">
          <vue-recaptcha
            ref="recaptcha"
            :sitekey="reCaptchaSiteKey"
            @verify="onCaptchaVerified"
            @expired="onCaptchaExpired"
          ></vue-recaptcha>
        </div>
      </v-card-text>
      <v-card-actions class="px-0">
        <v-btn
          color="success"
          type="submit"
          :class="['btn--save']"
          :disabled="formDisabled"
        >
          <v-icon v-if="!isSaving" left>send</v-icon>
          <v-progress-circular v-else indeterminate size="24" :width="3" class="mr-3" color="rich-black-20" />
          <span class="btn__text">Submit</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import emailValidator from 'email-validator'
import axios from 'axios'
import VueRecaptcha from 'vue-recaptcha'

const defaultFormData = {
  from: null,
  name: null,
  subject: null,
  body: null,
  recaptchaToken: null
}

export default {
  name: 'md-asd-contact-form',
  data() {
    return {
      valid: false,
      isSaving: false,
      formData: defaultFormData,
      submissionError: false
    }
  },
  components: {
    VueRecaptcha
  },
  props: {
    submissionEndpoint: {
      required: true,
      type: String
    },
    reCaptchaSiteKey: {
      required: true,
      type: String
    }
  },
  computed: {
    formDisabled () {
      return !this.valid || !!this.saving || !this.formData.recaptchaToken
    }
  },
  methods: {
    submit (e) {
      e.preventDefault()
      if (this.formDisabled) {
        return
      }
      this.isSaving = true
      this.submissionError = false
      return axios({
        method: 'post',
        url: this.submissionEndpoint,
        data: { ...this.formData },
        responseType: 'application/json'
      })
        .then(it => {
          this.formData = defaultFormData
          return it
        })
        .catch(e => {
          this.submissionError = true
          this.$refs.form.validate(true)
        })
        .finally(it => {
          this.isSaving = false
          this.$emit('success')
          return it
        })
    },
    onCaptchaVerified: function (recaptchaToken) {
      this.formData.recaptchaToken = recaptchaToken
    },
    onCaptchaExpired: function () {
      this.formData.recaptchaToken = null
      this.$refs.recaptcha.reset();
    },
    validateEmail: v => (typeof v === 'string' && !!emailValidator.validate(v)) || 'This must be a valid email.',
    validateString: v => (typeof v === 'string' && !!v.length) || 'This field is required.',
    validateSubject: v => (typeof v === 'string' && !!v.length && v.length <= 140) || 'This field is required, and must be between 1 and 140 characters.',
  }
};
</script>
